body {
  display: flex;
  margin: 0;
  font-family: Arial, sans-serif;
}

.recette_contenu {
  border-radius: 30px;
  margin: 1rem;
  padding: 1rem;
  background-color: #eee;
}

.bandeau {
  border-radius: 10px;
  padding: 0.2rem;
  background-color: #f8f7eb;
}

.grille_recettes {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* les colonnes s'adaptent à la taille */
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
}

.boite_recette {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s; /* animation quand on passe la souris */
}

.boite_recette:hover {
  transform: scale(1.05); /* augmenter la taille */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* augmenter l'ombre */
}

/*  barre latérale */
.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  padding: 15px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  height: 100vh;
  position: fixed;
  overflow-y: auto;
}

.sidebar h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: color 0.3s ease;
}

.sidebar ul li a:hover {
  color: #007bff;
}

.content {
  margin-left: 270px;
  padding: 20px;
  width: calc(100% - 270px);
}

.boite_recette img {
  width: 100%;
  height: auto;
  max-height: 150px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 10px;
}
